<%- include _header %>
    <h3 class="title has-text-grey">Welcome <%=user.email%>!</h3>
    <p class="has-text-grey">
        <a href="/uploader">Uploader</a>
        <a href="/logout">Sign Out</a>
    </p>
<%- include _footer %>
