<%- include _header %>
<form action="/uploader" method="post" enctype="multipart/form-data">
  <label>Файл</label><br />
  <input type="file" name="filedata" /><br /><br />
  <input type="submit" value="Send" />
</form>
<%- include _footer %>
